@font-face {
    font-family: navFont;
    src: url(font/Lato-Light.ttf);
}

@font-face {
    font-family: elegant;
    src: url(font/Lato-Thin.ttf);
}

body {
    background-color: #E2E2E5;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

*:hover {
    cursor: default;
}

#contentWrapper
{
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.logo
{
    height:75px;
    position:absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    margin-left: 25px;

}

#headerWrapper
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(245, 245, 245, 0.9);

}

#header {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    height: 62px;
    display:flex;
    align-items: center;
    justify-items: space-between;
    justify-content: space-between;
    top: 0;
    z-index: 5;
    


}

#headerLogo {
    float: left;
    margin: 0.5%;
    height: 80px;
    width: 15%;
}

#headerLogo img {
    height: 80px;
    pointer-events: none
}



#content
{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
   
}

#parallax {
    /* background-image: url("img/mainpoolphoto.jpg"); */
    height: 800px;
    float: left;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15%;

    overflow: hidden; /*  hide scrollbars */
    opacity: 0.0;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;

}
#pools
{
    width: 100%;
    height: 100%;
}
#pool1, #pool2, #pool3
{
    display: none;
}

#navWrapper {
    width: 600px;
    display: flex;
    position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {


    position: absolute;
    right: 0;
    background-color: rgba(245, 245, 245, 0.9);
    min-width: 150px;
    z-index: 1;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    overflow: hidden;

}

.dropdown-content p {
    color: black;
    font-size: 13px;
    text-decoration: none;
    display: block;
}

.dropdown-element:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    max-height: 500px;
    transition: max-height 0.4s ease-in;
}


.nav {

    height: 62px;
    width: 150px;
    /* background-color: rgba(245, 245, 245, 0.35); */
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.1s;

}

.nav p {
    line-height: 62px;
    text-align: center;
    font-family: navFont;
    letter-spacing: 3px;

}

#socials {
    height: 38px;
    width: 420px;
    float: right;
    display: flex;
    align-self: flex-end;
margin-right: 25px;
}


#mobile {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#email {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile img {
    vertical-align: middle;
    vertical-align: middle;
    pointer-events: none;
    margin-right:10px;
}

#email img {
    
    vertical-align: middle;
    vertical-align: middle;
    pointer-events: none;
    margin-right: 10px;
}

.socialImg {
    height: 100%;
    width: 30px;
    
   
}

.socialInfo {
    height: 100%;
    width: calc(100% - 50px);
    
}

#mobile p {
    line-height: 50px;
    font-family: navFont;

}

#email p {
    line-height: 50px;
    font-family: navFont;
}

#footer {

    width: 100%;
    height: 300px;
    background-color: #0587CA;
    float: left;
    border: none;
}

#footerLine {
    width: 100%;
    background-color: #076a9b;

}

#footerShadow {
    border: none;
    width: 100%;
    height: 50px;

    box-shadow: 0 20px 20px -20px #333;
    margin: -50px 0px 0px;
    float: left;
    z-index: 1;
}

#footerContentWrapper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.footerContent {
    width: 100%;
    height: 100%;
    float: left;
    background-color: rgba(7, 106, 155, 0.2);


    box-shadow: 20px 10px 20px 5px rgba(5, 78, 114, 0.34);
}

.footerContent p {
    text-align: center;
    font-family: navFont;
    color: antiquewhite;

}

.footerContent h1 {
    font-family: elegant;
    text-align: center;
    font-size: 18px;
    color: antiquewhite;
}

.footerItem, .footerHeader {
    height: 50px;
    width: 100%;
    line-height: 50px;
}

.footerItem {

    /*background-color: rgba(32, 111, 166, 0.27);*/
    height: 50px;
    line-height: 50px;
    background-color: #076a9b;
    -webkit-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

.footerHeader {
    margin-bottom: 35px;
    background-color: rgba(4, 94, 158, 0.27);
    box-shadow: 0px 5px 5px 0px rgba(5, 78, 114, 0.34);
}

.footerItem:hover {
    background-color: rgba(45, 163, 220, 0.63);
    -webkit-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out;
}

#mapHeader {
    margin-bottom: 0;
}

#loginWrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    position:absolute;
    right: 0;
    margin-right: 25px;
    height: 62px;
    
}

#loginButton {
    
    width: 100px;
    height: 100%;
    /*background-color: #0587ca;*/
    background-color: rgba(5, 135, 202, 0.6);
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    font-family: navFont, serif;
    font-size: 20px;
    color: whitesmoke;
    -ms-transition: background-color 200ms ease-in-out;
    -webkit-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: border-top-right-radius 200ms ease-in-out, background-color 200ms ease-in-out;
    border: none;
    box-shadow: inset 0px 19px 20px -19px rgb(0 0 0 / 71%);
}

#loginButton:hover {

    /*background-color: #076a9b;*/
    background-color: rgba(7, 106, 155, 0.8);
    /* border-top-right-radius: 50px; */
    -webkit-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: border-top-right-radius 200ms ease-in-out, background-color 200ms ease-in-out;

}

#loginButton:active

#loginButtonWrapper:hover {
    background-color: rgba(5, 135, 202, 0.8);
}


#loginButtonWrapper {
    width: 150px;
    height: 100%;
    /*background-color: #0587ca;*/
    background-color: rgba(5, 135, 202, 0.6);
    float: right;

    margin-right: 70px;
    -webkit-transition: background-color 200ms ease-in-out;
    -ms-transition: background-color 200ms ease-in-out;
    transition: border-top-right-radius 200ms ease-in-out, background-color 200ms ease-in-out;
}
#loginScreenContainer
{
    width:800px;
    height:600px;
    background-color: rgba(5, 135, 202, 1.0);
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -55%);
    border-radius: 50px;
    z-index: 6;
    visibility: hidden;
    -webkit-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    opacity: 0;
    box-shadow: 0px 20px 20px rgba(0,0,0,0.4), 0px 0px 50px rgba(0,0,0,0.4);
}
#fadeScreen
{

    visibility: hidden;
    z-index: 5;
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.0);
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    -webkit-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
    opacity: 0;

}
#loginScreenHeader{
    width:100%;
    height:50px;
    float: left;
    box-shadow: inset 0px 20px 20px 20px rgb(0 0 0 / 47%);
    background-color: #04344c;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.loginScreenSection
{
    width:50%;
    height:calc(100% - 50px);

    float: left;
}
.loginHeader
{
    background-color: #1261aa;
    width:100%;
    height:50px;
    box-shadow: inset 0px 8px 20px 0px rgb(0 0 0 / 47%);
    float: left;
    text-align: center;
}
.loginHeader h1
{
    line-height: 50px;
    font-family: elegant;
    font-size: 20px;
    color: antiquewhite;
}
#tabletMenu
{
    height: 100%;
    display: flex;
}


#burgerMenu
{
    display: none;
}



@media only screen and (max-width: 1250px) 
{
    #navWrapper
    {
        bottom: 0;
    }
    #loginButton
    {
        height: 50px;
        border-radius: 50px;
    }
    #headerWrapper
    {
        height: 162px;
    }
}

@media only screen and (max-width: 750px) 
{
    #navWrapper
    {
        display: none;
    }
    #loginButton
    {
        height: 50px;
        border-radius: 50px;
    }
    #headerWrapper
    {
        height: 100px;
    }
    #socials
    {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        margin-top: 100px;
        justify-content: center;
        gap: 10px;
        display:none;
    }
    #burgerMenu
    {
        display: block;
        width: 50px;
        position: absolute;
        right: 15px;
        top: 25px;
    }
    #loginWrapper
    {
        display: none;
    }
    .logo
    {
        margin: auto;
        margin-top: 10px;
        right: 0;
        width: 200px;
        margin-left: 15px;
    }
    #mobile
    {
        width: auto;
        justify-content: flex-start;
    }
    #email{
        justify-content: flex-start;
        width: auto;
    }
    #header
    {
        margin-top: 50px;
    }
}

.info 
    {
        height: 1000px;
        width: 500px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "poolTextOne poolPicOne"
          "poolPicTwo poolTextTwo";

          box-shadow: 0 2.3px 1.9px rgb(0 0 0 / 3%), 0 5.4px 4.3px rgb(0 0 0 / 4%), 0 9.7px 7.7px rgb(0 0 0 / 5%), 0 16.1px 12.8px rgb(0 0 0 / 6%), 0 26.5px 21.2px rgb(0 0 0 / 7%), 0 46.2px 37px rgb(0 0 0 / 8%), 0 100px 80px rgb(0 0 0 / 11%);
       
    }

    .poolTextOne, .poolTextTwo
    {
        
        font-size: 2.5rem;
        font-family: elegant, serif;
    }
    .poolTextOne p, .poolTextTwo p
    {
        width: 100%;
        padding: 30px;
    }

    #contactUs
    {
        height: 100px;
        width: 100%;
        background-color: #48ABF0;  
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        font-family: navFont, serif;
        color: white;
        border-bottom-right-radius: 50px;
        transition: all ease-in-out 0.2s;
    }
    #contactUs:hover
    {
        background-color: #0b5990;
    }
    
    #top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "poolTextOne poolPicOne"
          "poolPicTwo poolTextTwo"
          ;
        width: 1000px;
        height: 1000px;
        margin-bottom: 150px;
      }
      
    #top .poolPicOne 
    { 
        grid-area: poolPicOne; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/lefteris-kallergis-ewSBvLSp3Tc-unsplash.jpg);
    }
    #top .poolTextTwo 
    { 
        position: relative;
        grid-area: poolTextTwo; 
    }
    #top .poolTextTwo p 
    {
        height: calc(100% - 100px);
    }
    #top .poolTextOne 
    { 
        grid-area: poolTextOne; 
    }
    #top .poolPicTwo 
    { 
        grid-area: poolPicTwo; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/poolsteps2.jpg);
    }

    #bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-auto-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "poolPicOne poolPicTwo"
          "poolTextOne poolTextTwo";
        width: 1000px;
        height: 1000px;
        margin-bottom: 150px;
      }
      .poolTextTwo p 
      {
          height:calc(100% - 200px)
      }
      #browseNow
      { 
          width: 80%;
          height: 100px;
          background-color: #48ABF0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-family: navFont;
          border-radius: 50px;
          transition: all ease-in-out 0.2s;
      }
      #browseNow:hover
      {
          background-color: #0b5990;
          border-bottom-right-radius: 0px;
      }

    #bottom .poolPicOne 
    { 
        grid-area: poolPicOne; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/spaleft.jpg);
        border-top-left-radius: 50px;
        
    }
    #bottom .poolTextTwo 
    { 
        position: relative;
        grid-area: poolTextTwo; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #bottom .poolTextOne 
    { 
        grid-area: poolTextOne; 
    }
    #bottom .poolPicTwo 
    { 
        grid-area: poolPicTwo; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/sparight.jpeg);
        border-top-right-radius: 50px;
       
    }


    @media only screen and (max-width: 1030px) 
    {
        #parallax
    {
        height:400px;
        
    }
    #bufferText
    {
        display: none;
    }
    .poolTextOne, .poolTextTwo
    {
       
        font-size: 2rem;
        font-family: elegant, serif;
    }

    #contactUs
    {
        height: 100px;
        width: 100%;
        background-color: #48ABF0;  
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        font-family: navFont, serif;
        color: white;
    }
    
    #top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.25fr 1.25fr 1.25fr;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "poolTextOne"
          "poolPicOne"
          "poolPicTwo"
          "poolTextTwo"
          ;
        width: 80%;
        height: 100%;
        margin-bottom: 150px;
      }
      
    #top .poolPicOne 
    { 
        grid-area: poolPicOne; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/lefteris-kallergis-ewSBvLSp3Tc-unsplash.jpg);
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    #top .poolTextTwo 
    { 
        position: relative;
        grid-area: poolTextTwo; 
    }
    #top .poolTextTwo p 
    {
        height: calc(100% - 100px);
    }
    #top .poolTextOne 
    { 
        grid-area: poolTextOne; 
    }
    #top .poolPicTwo 
    { 
        grid-area: poolPicTwo; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/poolsteps2.jpg);
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    #bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.5fr 1fr 1.5fr 1.25fr;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "poolPicOne"
          "poolTextOne"
          "poolPicTwo"
          "poolTextTwo";
        width: 80%;
        height: 100%;
        margin-bottom: 150px;
      }
      #browseNow
      { 
          width: 100%;
          height: 100px;
          background-color: #48ABF0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-family: navFont;
      }

    #bottom .poolPicOne 
    { 
        grid-area: poolPicOne; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/lefteris-kallergis-ewSBvLSp3Tc-unsplash.jpg);
        border-radius: 50px;
    }
    #bottom .poolTextTwo 
    { 
        position: relative;
        grid-area: poolTextTwo; 
    }
    #bottom .poolTextOne 
    { 
        grid-area: poolTextOne; 
    }
    #bottom .poolPicTwo 
    { 
        grid-area: poolPicTwo; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/poolsteps2.jpg);
        border-radius: 50px;
    }
    }

@media only screen and (max-width: 500px) 
{
    #parallax
    {
        height:400px;
        background-position-x: -350px;
        background-position-y: -50px;
    }
    #bufferText
    {
        display: none;
    }
    .poolTextOne, .poolTextTwo
    {
       
        font-size: 2rem;
        font-family: elegant, serif;
    }

    #contactUs
    {
        height: 100px;
        width: 100%;
        background-color: #48ABF0;
        bottom:0;
        position: absolute;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: center;
        font-family: navFont, serif;
        color: white;
    }
    
    #top {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 0.5fr 0.5fr 1.25fr;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "poolTextOne"
          "poolPicOne"
          "poolPicTwo"
          "poolTextTwo"
          ;
        width: 100%;
        height: 100%;
        margin-bottom: 150px;
      }
      
    #top .poolPicOne 
    { 
        grid-area: poolPicOne; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/lefteris-kallergis-ewSBvLSp3Tc-unsplash.jpg);
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    #top .poolTextTwo 
    { 
        position: relative;
        grid-area: poolTextTwo; 
    }
    #top .poolTextOne 
    { 
        grid-area: poolTextOne; 
    }
    #top .poolPicTwo 
    { 
        grid-area: poolPicTwo; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/poolsteps2.jpg);
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    #bottom {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1.25fr;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "poolPicOne"
          "poolTextOne"
          "poolPicTwo"
          "poolTextTwo";
        width: 100%;
        height: 100%;
        margin-bottom: 150px;
      }
      #browseNow
      {
         bottom: 0%;
         position: absolute;
          width: 100%;
          height: 100px;
          background-color: #48ABF0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-family: navFont;
      }

    #bottom .poolPicOne 
    { 
        grid-area: poolPicOne; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/lefteris-kallergis-ewSBvLSp3Tc-unsplash.jpg);
        border-radius: 50px;
    }
    #bottom .poolTextTwo 
    { 
        position: relative;
        grid-area: poolTextTwo; 
    }
    #bottom .poolTextOne 
    { 
        grid-area: poolTextOne; 
    }
    #bottom .poolPicTwo 
    { 
        grid-area: poolPicTwo; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./img/poolsteps2.jpg);
        border-radius: 50px;
    }
}
